<header>
  <div class="logos">
      <div class="logo">
          <img src="../../static/img/logo.jpeg" alt="">
      </div>
      <div class="titulo">
          <h1>Servicio Nacional de Aprendizaje</h1>
      </div>
      <div class=" logo1">
          <img src="../../static/img/logo1.jpeg" alt="">
      </div>
  </div>

  <nav id="nav">
      <div class="botones">
          <div class="enlaces">
              <a [routerLink]="['/']" >Home</a>
              <a [routerLink]="['/test/listar']">lista test</a>
              <a [routerLink]="['/anuncios/listar']">lista anuncios</a>
              <a [routerLink]="['/anuncios']">crear anuncios</a>
          </div>
      </div>
  </nav>
</header>